.header {
  font-size: 72px;
  font-weight: 800;
}
#main-screen {
  justify-content: center;
  align-items: center;
}
#health-bar {
  margin-top: 19px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: start;
  width: 100%;
}
#health-percentage {
  display: flex;
  align-items: end;
  flex-grow: 1;
}
#task-counter {
  margin-top: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: start;
  width: 100%;
}
#task-button {
  margin-top: 18px;
}
#pet-border {
  width: 100%;
  height: calc(100vh - 176px);
  border-radius: 15px;
  border: 2px solid #000;
  margin-top: 38px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
}
#pet-name {
  position: absolute;
  text-align: center;
  top: calc(100vh - 146px);
  height: 30px;
  width: 220px;
  font-size: 13px;
  background-color: #fff;
}
#main-title {
  height: 48px;
  width: 274px;
  text-align: center;
  position: absolute;
  top: 30px;
  font-size: 20px;
  background-color: #fff;
}
